In [1]:
import pandas as pd

In [2]:
url = 'https://github.com/HamoyeHQ/HDSC-Introduction-to-Python-for-machine-learning/files/7768140/FoodBalanceSheets_E_Africa_NOFLAG.csv'

In [3]:
df = pd.read_csv(url, encoding="latin-1")

In [4]:
df

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28
...,...,...,...,...,...,...,...,...,...,...,...,...
60938,181,Zimbabwe,2899,Miscellaneous,5142,Food,1000 tonnes,42.00,46.00,33.00,19.00,16.00
60939,181,Zimbabwe,2899,Miscellaneous,645,Food supply quantity (kg/capita/yr),kg,3.06,3.33,2.35,1.33,1.08
60940,181,Zimbabwe,2899,Miscellaneous,664,Food supply (kcal/capita/day),kcal/capita/day,3.00,4.00,3.00,1.00,1.00
60941,181,Zimbabwe,2899,Miscellaneous,674,Protein supply quantity (g/capita/day),g/capita/day,0.10,0.11,0.08,0.04,0.04
60942,181,Zimbabwe,2899,Miscellaneous,684,Fat supply quantity (g/capita/day),g/capita/day,0.04,0.05,0.03,0.02,0.01

In [40]:
#What is the total number of unique countries in the dataset?
unique_countries_count = df['Area'].nunique()

In [41]:
print("Total number of unique countries:", unique_countries_count)

Total number of unique countries: 49

In [42]:

sumTotal= df.groupby('Element')['Y2017'].sum()

In [10]:
processing_sum_2017 = sumTotal.get('Processing', 0)

In [11]:
print("Total sum of Processing in 2017:", processing_sum_2017)

Total sum of Processing in 2017: 292836.0

In [12]:
element_code_column = df['Element Code']

In [13]:
year_columns = ['Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018']

In [14]:
correlations = {}

In [15]:
for year_column in year_columns:
    year_data = df[year_column]
    correlation = element_code_column.corr(year_data)
    correlations[year_column] = correlation

In [18]:
least_correlated_year = min(correlations, key=correlations.get)

In [19]:
print("Year with the least correlation with 'Element Code':", least_correlated_year)

Year with the least correlation with 'Element Code': Y2016

In [20]:
result = df.groupby('Element')[['Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018']].sum()

In [47]:
#What is the total number and percentage of missing data in 2014 to 3 decimal places?
missing_data_2014 = df['Y2014'].isnull().sum()

In [23]:
total_data_points_2014 = len(df['Y2014'])
percentage_missing_data_2014 = (missing_data_2014 / total_data_points_2014) * 100
print("Total number of missing data in 2014:", missing_data_2014)
print("Percentage of missing data in 2014: {:.3f}%".format(percentage_missing_data_2014))

Total number of missing data in 2014: 1589
Percentage of missing data in 2014: 2.607%

In [26]:
#What is the total Protein supply quantity in Madagascar in 2015?
result = pd.DataFrame(df.groupby(['Area', 'Element'])['Y2015'].sum())

In [27]:
protein_supply_madagascar_2015 = result.loc[('Madagascar', 'Food')]['Y2015']
print("Protein supply quantity in Madagascar in 2015:", protein_supply_madagascar_2015)

Protein supply quantity in Madagascar in 2015: 21120.65

In [29]:
result = pd.DataFrame(df.groupby(['Area', 'Element'])['Y2015'].sum()).reset_index()

In [30]:
print(result)

         Area                                 Element     Y2015
0     Algeria                Domestic supply quantity  85972.86
1     Algeria                         Export Quantity   1104.62
2     Algeria      Fat supply quantity (g/capita/day)    317.40
3     Algeria                                    Feed  10308.00
4     Algeria                                    Food  61693.49
..        ...                                     ...       ...
798  Zimbabwe  Protein supply quantity (g/capita/day)    175.31
799  Zimbabwe                               Residuals   -780.00
800  Zimbabwe                                    Seed    128.00
801  Zimbabwe                         Stock Variation   -343.00
802  Zimbabwe           Total Population - Both sexes  13815.00

[803 rows x 3 columns]

In [48]:
#Given the following numpy array 

array  = ([[94, 89, 63],

             [93, 92, 48],

             [92, 94, 56]])

How would you select  the elements in bold and italics from the array?

In [49]:
import numpy as np
x= np.array([[94, 89, 63],[93, 92, 48],[92, 94, 56]])

x[ : 2, 1 : ]

array([[89, 63],
       [92, 48]])

In [43]:
df.groupby('Element')[['Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018']].count()

                                        Y2014  Y2015  Y2016  Y2017  Y2018
Element
Domestic supply quantity                 5244   5245   5250   5258   5256
Export Quantity                          3660   3704   3653   3660   3646
Fat supply quantity (g/capita/day)       4965   4974   4980   4982   4987
Feed                                     1216   1177   1215   1213   1225
Food                                     4896   4901   4910   4912   4913
Food supply (kcal/capita/day)            4947   4955   4963   4965   4969
Food supply quantity (kg/capita/yr)      4860   4865   4874   4876   4877
Import Quantity                          4919   4911   4908   4929   4945
Losses                                   2009   2009   2009   2009   2008
Other uses (non-food)                    1662   1667   1634   1619   1655
Processing                               1987   1995   1996   1998   2003
Production                               3830   3828   3838   3829   3846
Protein supply quantity (g/capita/day)   4963   4971   4978   4980   4986
Residuals                                4604   4605   4610   4618   4616
Seed                                      762    759    759    758    758
Stock Variation                          4230   4229   4231   4231   4217
Total Population - Both sexes              45     45     45     45     45
Tourist consumption                       555    555    555    555    555

In [36]:

# What is the total sum of Wine produced in 2015 and 2018 respectively?
d_sum = df.groupby('Item')[['Y2015', 'Y2018']].sum()
print(d_sum)

                         Y2015      Y2018
Item
Alcohol, Non-Food      2180.00    2293.00
Alcoholic Beverages   98783.72   97847.27
Animal Products       11811.73   11578.61
Animal fats          200675.72  269648.27
Apples and products   10559.15    9640.51
...                        ...        ...
Vegetables, Other    158104.08  163987.21
Vegetal Products     107064.17  107775.39
Wheat and products   234710.51  242645.19
Wine                   4251.81    4039.32
Yams                 203151.78  221272.09

[119 rows x 2 columns]

In [51]:
#If you have the following list

#lst = [[35, 'Portugal', 94], [33, 'Argentina', 93], [30 , 'Brazil', 92]]

#col = [‘Age’,’Nationality’,’Overall’]

How do you create a pandas DataFrame using this list, to look like the table below?

Object `below` not found.

In [37]:

lst = [[35, 'Portugal', 94], [33, 'Argentina', 93], [30 , 'Brazil', 92]]

col = ['Age','Nationality','Overall']

pd.DataFrame(lst, columns = col, index = [i for i in range(1,4)])

   Age Nationality  Overall
1   35    Portugal       94
2   33   Argentina       93
3   30      Brazil       92

In [38]:
df.shape

(60943, 12)

In [45]:
my_tuppy = (1,2,5,8)

my_tuppy[2] = 6

TypeError: 'tuple' object does not support item assignment

In [52]:
import os
print(os.getcwd())

C:\Users\alabi\simple_shell